/*.heading h1{

    font-family: "Oswald", serif;
    font-optical-sizing: auto;
    font-weight: 600x;
    font-style: normal;
}*/
/*.heading p{
    font-family: "Monomaniac One", serif;
    font-weight: 400;
    font-style: normal;
}*/
*{
    margin: 0;
    padding: 0;
}
.background{
    display: flex;
    background-color: rgb(242,244,247);
    border: 1px solid rgb(0, 0, 0);
    height: 620PX;
    width: 100%;
    font-size: 35px;
   
}
.heading{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2px;
    margin: 180px;
    padding-bottom: 150PX;
}
h1{
    color: #0866ff;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
   
  
}
P{

    font-size: 25px;
    margin: 0px;
    padding: 0px;
    text-wrap: 20px;
}

.box{
    display: flex;
    justify-content: start;
    flex-direction: column;
    background-color: #fff;
    border-radius: 8px;
    width: 390px;
    height: 330px;
    align-items: center;
    margin-left: 50px;
    margin-top: 90px;
    padding: 20px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    
    
}
input{
    width: 400px;
    height: 50px;
    font-weight: lighter;
    font-size:16px;
    font-family: sans-serif;
    border: 0.5px solid rgb(206, 208, 214);
    border-radius: 7px;
    margin:3px;
   padding-left: 7px;
    
}
input:hover{
    border:0.5px solid rgb(75, 151, 231) ;
}
input:focus{
    border:0.5px solid rgb(75, 151, 231) ;
    outline: #0866ff;
}
.logging{
    background-color: #0866ff;
    color: #fff;
    width: 400px;
    height: 50px;
    font-weight: bolder;
    font-size:20px;
    border: 1px solid #0866ff;
    border-radius: 7px;
     margin-top:10px;
    margin-left: 5px;
   

}
button:hover{
    background-color: #0c4eff;

}
.logging a{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    color: #0866ff;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: lighter;
    text-decoration: none;
    
}
.logging a:hover{
    color: #0c4eff;
    text-decoration: underline;
}
a.forget {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    color: #0866ff;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: lighter;
    text-decoration: none;
}
 a:hover{
    text-decoration: underline;
}

hr{
    margin-top: 30px;
 
}
.create{
   display: flex;
   justify-content: center;
   margin-top: 15px;
   
   
}

.create a{
    text-decoration: none;
}
.create-btn{
   
    background-color: #45b84d;width: 200px; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    border: none;
    color: #fff;
    height: 50px;
    font-weight: bolder;
    border-radius: 7px;
     margin-top:10px;
    margin-left: 5px;
   
}
.create-btn:hover{
    background-color: #39a540;
   
 }

.footer p{
    
    font-size: 15px;
    font-weight: lighter;
    margin-top: 15px;
    text-align: center;
    
    
}

.footer a{
    font-size: 18PX;
    color: black;
   font-weight: bold;
   text-decoration: none;

}
.footer a:hover{
    text-decoration:  rgb(0, 0, 0) underline;
    
}



